<section {{#if isSecondarySection}}class='collapsable'{{/if}}'>

{{#if name}}<h4 id='{{id}}'>{{name}}</h4>{{/if}}

<div class='section-comments'>{{{markdown comments}}}</div>

{{{documentables}}}

</section>