<table><thead>
	<tr>
		<th>Event</th>
		<th>Data</th>
		<th>Description</th>
	</tr>
	</thead><tbody>
	{{#each documentables}}
	<tr>
		<td><code><b>{{name}}</b>
		<td><code>{{type}}</code></td>
		<td>{{{markdown comments}}}</td>
	</tr>
	{{/each}}
</tbody></table>