<table><thead>
	<tr>
		<th>Factory</th>
		<th>Description</th>
	</tr>
	</thead><tbody>
	{{#each documentables}}
	<tr>
		<td><code><b>{{name}}</b>(
		{{~#each params~}}
			<nobr>&lt;{{type}}&gt;</nobr> <i>{{name}}</i>
			{{~#unless @last}}, {{/unless}}{{/each~}}
		)</nobr></code></td>
		<td>{{{markdown description}}}</td>
	</tr>
	{{/each}}
</tbody></table>