<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
	<link rel="stylesheet" href="http://leafletjs.com/docs/css/normalize.css" />
	<link rel="stylesheet" href="http://leafletjs.com/docs/css/main.css" />
	<script src="http://leafletjs.com/docs/highlight/highlight.pack.js"></script>
	<link rel="stylesheet" href="http://leafletjs.com/docs/highlight/styles/github-gist.css" />
	<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
	<script src="http://leafletjs.com/dist/leaflet.js"></script>
</head>
<body>
	<div class='container'>
	{{{ body }}}
	</div>
</body></html>