<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
	<link rel="stylesheet" href="http://leafletjs.com/docs/css/normalize.css" />
	<link rel="stylesheet" href="http://leafletjs.com/docs/css/main.css" />
	<script src="http://leafletjs.com/docs/highlight/highlight.pack.js"></script>
	<link rel="stylesheet" href="http://leafletjs.com/docs/highlight/styles/github-gist.css" />
	<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
	<script src="http://leafletjs.com/dist/leaflet.js"></script>
</head>
<body class='api-page'>
	<div class='container'>

	{{{ body }}}

	</div>
	<script>
	hljs.configure({tabReplace: '    '});
	hljs.initHighlightingOnLoad();

	var elems = document.querySelectorAll('h2, h3, h4, tr');

	for (var i = 0, len = elems.length; i < len; i++) {
		var el = elems[i];

		if (el.id) {
			var anchor = document.createElement('a');
			anchor.setAttribute('anchor', el.id);
			if (!el.children.length) {
				// For headers, insert the anchor before.
				el.parentNode.insertBefore(anchor, el);
			} else {
				// For table rows, insert the anchor after the last <td>
				el.appendChild(anchor);
			}
		}
	}

</script>
</body></html>